html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    overflow-x: hidden;
    display: block;
    justify-content: center;
}

video {
    display: block;
    transform: translate(-10%, 0px);
    margin: 0 auto;
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

header {
    width: 100%;
    position: fixed;
    padding-bottom: 47px;
    line-height: 50px;
}

footer {
    width: 100%;
    padding-bottom: 47px;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}

div.content {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.CTA {
    position: fixed;
    left: 0;
    right: 0;
}



/* TEXT */
body {
    text-align: center;
    font-family:EB Garamond;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}

#powerdollar {
    text-shadow:
       0 0 7px #742850,
       0 0 10px #742850,
       0 0 21px #742850,
       0 0 42px #742850;
    font-size: 30px;
}

#clueseverywhere {
    text-shadow:
       0 0 7px #D3CEA4,
       0 0 10px #D3CEA4,
       0 0 21px #D3CEA4,
       0 0 42px #D3CEA4;
    font-size: 30px;
}

h2 {
    color: #fff;
    font-size: 10px;
    padding: 5px;
}

#copyright {
    padding: 20px;
}

#unlocktruth {
    font-size: 40px;
    transition: transform .2s;
    text-shadow:
       0 0 7px #05F9F9,
       0 0 10px #05F9F9,
       0 0 21px #05F9F9,
       0 0 42px #05F9F9;
}

#unlocktruth:hover {
    transform: scale(1.25);
}




/* IMAGE WORK */
a {
    color:#C6D8FF;
    text-decoration: none;
}

.nav {
    height:50px;
    clear: none;
}

.socialinks {
    text-align: right;
}

#socialstop {
    padding: 22px;
    float: right;
}

#socialsbottom {
    text-align: center;
}

img.sociallink {
    width:36px;
    padding: 20px;
}

.belluminati { float: left; }

img.belluminati {
    width:70px;
    height:70px;
    padding:20px;
}

.container {
    position: relative;
}

.dollarbill {
    z-index: 3;
    top: 0;
}

.fooditems {
    position: absolute;
    z-index: 4;
    top: 0;
}

#breakfast { width: 36px; padding-left: 39.5%; padding-top: 5%; }
#burrito { width: 36px; padding-left: 10.8%; padding-top: 9%; }
#cinnabon1 { width: 18px; padding-left: 7.5%; padding-top: 2.5%; }
#cinnabon2 { width: 13px; padding-left: 22.5%; padding-top: 2.5%; }
#cinnabon3 { width: 18px; padding-left: 36.7%; padding-top: 3%; }
#cinnabon4 { width: 13px; padding-left: 27.4%; padding-top: 2.8%; }
#potatotaco { width: 40px; padding-left: 2.2%; padding-top: 16%; }
#stacker { width: 50px; padding-left: 1.8%; padding-top: 5%; }
#tostada { width: 50px; padding-left: 38.5%; padding-top: 16%; }

/* dollar bill image control */
@media screen {
    img.dollarbill {
        max-height:25%;
        width:45%;
        padding:5px;
    }

    div.content { top: 120px; }

    #socialstop { opacity: 1; }
    #socialsbottom { opacity: 0; }
}

@media screen and (max-width: 1070px) {
    #burrito { width: 30px; padding-left: 11%; }
    #potatotaco { width: 32px; padding-left: 2.2%; padding-top: 16%; }
    #stacker { width: 45px; padding-left: 1%; padding-top: 5%; }
    #tostada { width: 36px; padding-left: 39%; padding-top: 16%; }
}

@media screen and (max-width: 768px) {
    img.dollarbill {
        max-width:760px;
        width:90%;
        padding:4px;
    }

    div.content { top: 95px; }

    #socialstop { opacity: 0; }
    #socialsbottom { opacity: 1; }

    #breakfast { width: 45px; padding-left: 80%; padding-top: 10%; }
    #burrito { padding-left: 22%; padding-top: 19%; }
    #cinnabon1 { width: 18px; padding-left: 14.7%; padding-top: 5%; }
    #cinnabon2 { width: 13px; padding-left: 44.5%; padding-top: 5%; }
    #cinnabon3 { width: 18px; padding-left: 73%; padding-top: 6%; }
    #cinnabon4 { width: 13px; padding-left: 54.7%; padding-top: 5.5%; }
    #potatotaco { width: 44px; padding-left: 3%; padding-top: 9.8%; }
    #stacker { width: 48px; padding-left: 4%; padding-top: 33%; }
    #tostada { width: 50px; padding-left: 77%; padding-top: 33%; }
}

@media screen and (max-width: 390px) {
    img.dollarbill {
        max-width:380px;
        width:90%;
        padding:4px;
    }

    #socialstop { opacity: 0; }
    #socialsbottom { opacity: 1; }
}
