html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: block;
    justify-content: center;
}

header {
    justify-content: right;
    align-items: right;
    position: fixed;
    top: 0;
    justify-content: space-around;
    align-items: right;
    padding-bottom: 47px;
}

footer {
    padding-bottom: 47px;
    position: fixed;
    left: 0;
    bottom: 0;
}




/* TEXT */
#fadeIn {
    opacity: 0;
}

body {
    text-align: center;
    font-family:EB Garamond;
    font-weight: bold;
    text-decoration: none;
    background: url("./images/INTRO.mp4") no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}

div.belluminati {
    text-align: center;
}

#powerdollar {
    text-shadow:
       0 0 7px #742850,
       0 0 10px #742850,
       0 0 21px #742850,
       0 0 42px #742850;
    font-size: 30px;
}

#clueseverywhere {
    text-shadow:
       0 0 7px #D3CEA4,
       0 0 10px #D3CEA4,
       0 0 21px #D3CEA4,
       0 0 42px #D3CEA4;
    font-size: 30px;
}

h2 {
    color: #fff;
}

#unlocktruth {
    font-size: 40px;
    transition: transform .2s;
    text-shadow:
       0 0 7px #05F9F9,
       0 0 10px #05F9F9,
       0 0 21px #05F9F9,
       0 0 42px #05F9F9;
}

#unlocktruth:hover {
    transform: scale(1.25);
}




/* IMAGE WORK */
video {
    display: block;
    margin: 0 auto;
    position: fixed;
    height: 100%;
    z-index: -1;
    left: 0;
    right: 0;
    overflow-x: hidden;
}

/*
.intro {
    animation: fadeOut 1s;
    -webkit-animation: fadeOut 1s;
    -moz-animation: fadeOut 1s;
    -o-animation: fadeOut 1s;
    -mis-animation: fadeOut 1s;
}

@keyframes fadeOut {
    100% { opacity: 1; }
    0 % { opacity: 0; }
}

@-moz-keyframes fadeOut {
    100% { opacity: 1; }
    0 % { opacity: 0; }
}

@-webkit-keyframes fadeOut {
    100% { opacity: 1; }
    0 % { opacity: 0; }
}

@-o-keyframes fadeOut {
    100% { opacity: 1; }
    0 % { opacity: 0; }
}
@-ms-keyframes fadeOut {
    100% { opacity: 1; }
    0 % { opacity: 0; }
}
*/

a {
    color:#C6D8FF;
    padding:20px;
    text-decoration: none;
}

img.sociallink {
    width:36px;
}

img.belluminati {
    width:70px;
    height:70px;
    padding:20px;
}

.container {
    position: relative;
}

.dollarbill {
}

.fooditems {
    position: absolute;
}

#breakfast {
    width: 36px;
}

#burrito {
    width: 36px;
}

#cinnabon1 {
    width: 36px;
}

#cinnabon2 {
    width: 36px;
}

#cinnabon3 {
    width: 36px;
}

#cinnabon4 {
    width: 36px;
}

#potatotaco {
    width: 36px;
}

#stacker {
    width: 36px;
}

#tostada {
    width: 36px;
}

.nav {
    justify-content: right;
    line-height:50px;
    width:20%;
    height:50px;
    max-width:100px;
}

table {
	width:100%;
}

/* dollar bill image control */
@media screen {
    img.dollarbill {
        max-width:600px;
        width:45%;
        padding:5px;
    }


}

@media screen and (max-width: 768px) {
    img.dollarbill {
        max-width:760px;
        width:90%;
        padding:4px;
    }
}

@media screen and (max-width: 390px) {
    img.dollarbill {
        max-width:380px;
        width:90%;
        padding:4px;
    }
}
